<div class="progress-bar-container">
    <div class="progress-bar" id="pBar"></div>
</div>
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/portfolio']" title="Portfolio">Portfolio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#" title="Zemoso">Zemoso</a></li>
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>


<div id="AMAL">
    <div class="row">
        <section>
            <h4>Zemoso UX Assessment</h4>
            <ul class="tags">
                <li class="tag">2020</li>
                <li class="tag">UX Design</li>
                <li class="tag">UI Design</li>
                <li class="tag">Information Architecture</li>
            </ul>
        </section>

        <section>
            <div class="grid-box">
                <div class="gbox">
                    <h5>History</h5>
                </div>
                <div class="gbox">
                    <p>Currently I'm looking out for a full time job, a few weeks before I was called by a recruiter and had a brief discussion about the JD, Roles &amp; Responsibilities. After which I was striaght away asked to do an assignment and asked to submit in 3 days.</p>
                </div>

                <div class="gbox">
                    <h5>Problem statement</h5>
                </div>
                <div class="gbox">
                    <p>Design  a scheduling app for composer in Australia.</p>
                    <ol class="olist">
                    <strong>Expected deliverables:</strong> 
                        <li>User persona</li>
                        <li>User journey map</li>
                        <li>High fidelity screen</li>
                    </ol>
                    <p><strong>Note:</strong> Preferred tools will be Sketch OR Figma.</p>
                </div>

                <div class="gbox">
                    <h5>What I've done</h5>
                </div>
                <div class="gbox">
                    <ol class="olist">
                        <li>Did some research on gaining some domain knowledge.</li>
                        <li>Analysed available information/data and made a few assumptions</li>
                        <li>Created a persona and a user journey map.</li>
                        <li>Created a few mobile hight fidelity mockup screens for Event Scheduling.</li>
                    </ol>
                </div>
            </div>
        </section>

        <section>
            <h5>High-Fidelity Prototypes</h5>
            <div class="img-showcase">
                <div class="is-item">
                    <h6>Primary Persona</h6>
                    <p>After making a lot of assumptions this the primary persona of a user i've compe up with</p>
                </div>
                <div class="is-item">
                    <div class="macbook">
                         <a class="igal-img-link" href="../../../assets/work/zemoso/00-Persona-Carl-Vine.png"
                        data-lightbox="i1" data-title="Primary Persona">
                        <img src="../../../assets/work/zemoso/00-Persona-Carl-Vine.png" alt="Persona" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                    </div>
                   
                </div>
            </div>

            <div class="img-showcase1">
                <div class="is-item">
                    <a class="igal-img-link" href="../../../assets/work/zemoso/00-Journey-Map.png">
                        <img src="../../../assets/work/zemoso/00-Journey-Map.png" alt="Journey Map" width="100%"
                            height="auto" class="gallery-img" />
                    </a></div>
                <div class="is-item">
                    <h6>User Journey Map</h6>
                    <p>This is the Journey Map of the primary persona showing how he will use the mobile app to create an event.</p>
                </div>
            </div>
        </section>

        <section>
            <h5 class="text-center">Mobile Screens</h5>
            <div class="columns">
                <div class="column">
                    <a class="igal-img-link" href="../../../assets/work/zemoso/01-Event-Summary.png"
                        data-lightbox="zemoso-mscreens" data-title="Mobile App Screen">
                        <img src="../../../assets/work/zemoso/01-Event-Summary.png" alt="Mobile App Screen" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                </div>
                <div class="column">
                    <a class="igal-img-link" href="../../../assets/work/zemoso/02-Create-Event.png"
                        data-lightbox="zemoso-mscreens" data-title="Mobile App Screen">
                        <img src="../../../assets/work/zemoso/02-Create-Event.png" alt="Mobile App Screen" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                </div>
                <div class="column">
                    <a class="igal-img-link" href="../../../assets/work/zemoso/02-Create-Event-02.png"
                        data-lightbox="zemoso-mscreens" data-title="Mobile App Screen">
                        <img src="../../../assets/work/zemoso/02-Create-Event-02.png" alt="Mobile App Screen" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                </div>
                
              </div>
        </section>


    </div>

</div>