section {
    margin: 2em 0;
}
.olist {
    list-style: decimal;
    list-style-position: inside;
}
.columns {
    width: 100%; 
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: auto; 
    /*Define our columns */
    grid-template-columns: repeat(3,minmax(auto, 1fr)); 
    grid-gap: 6em;
    margin: 3em 0;
  }
  .columns img, .is-item img {
    border: 0.01em solid #ccc;
  }
  .column {
    border:0px solid red;
  }
  .column a img {
    max-width: 100%;
  }