<div class="footer-wrapper" id="Footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Navigation</h5>
                <ul class="footer-links">
                    <li [routerLinkActive]="['active']"><a class="link-anim" [routerLink]="['/home']" title="Home">Home</a></li>
                    <li [routerLinkActive]="['active']"><a class="link-anim" [routerLink]="['/experience']" title="Experience">Experience</a></li>
                    <li [routerLinkActive]="['active']"><a class="link-anim" [routerLink]="['/portfolio']" title="Portfolio">Portfolio</a></li>
                    <li [routerLinkActive]="['active']"><a class="link-anim" [routerLink]="['/services']" title="Services">Services</a></li>
                    <li [routerLinkActive]="['active']"><a class="link-anim" [routerLink]="['/tutorials']" title="Tutorials">Tutorials</a></li>
                    <li [routerLinkActive]="['active']"><a class="link-anim" [routerLink]="['/contact']" title="Contact">Contact</a></li>
                </ul>
            </div>
            
            <div class="col-md-4 text-center">
                <h5>Hire Me</h5>
                <p>I'm currently taking on new projects.<br/>Would you like to discuss one?</p>
                <p><a class="link-anim" href="tel:800.826.7450" title="Mobile Number">(+91) 8OO.826.745O</a><br/>
                    <a class="link-anim" href="mailto:tosrisri@gmail.com" title="Email ID">tosrisri@gmail.com</a></p>
            </div>
            <div class="col-md-4 text-right">
                <h5>Follow Me</h5>
                <div class="social-links">
                    <a href="https://www.instagram.com/shutterbugshree/" target="_blank"><i
                            class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/tosrisri" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/tosrisri" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="asd" target="_blank"><i class="fa fa-dribbble"></i></a>
                    <a href="https://www.youtube.com/channel/UCGhtMKIXn2eq9cBVbLzxk0Q?view_as=subscriber"
                        target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/in/tosrisri/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row text-center">
            <div class="col"><p class="copy-info"> &copy; 2020 Srini B. All Rights Reserved.</p></div>
            
        </div>
    </div>
</div>


<!-- <div class="tweet-cont">
                    <a class="twitter-timeline" data-lang="en" data-width="250" data-height="400" data-theme="dark"
                        href="https://twitter.com/tosrisri?ref_src=twsrc%5Etfw">My Tweets</a>
                </div> -->