.ccont1 {
    font-weight: normal;
}

.ccont1 .designation {
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
    margin: 0.1em auto;
    padding: 0.1em 0;
    width: fit-content;
    font-weight: 100;
}
.ccont1 h1 {
    font-size: 5em;
    color: #fff;    
    letter-spacing: 0.03em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
    font-weight: 400;
}
.ccont1 h2 {
    font-size: 4em;
    color: #eee;    
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
    font-weight: 100;
}
.ccont1 h5 {
    font-size: 2em;
    color: #eee;    
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
    font-weight: 100;
}
.ccont1 .social-links {
    margin: 0.5em auto 1em;
}
.ccont1 .social-links a {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1em;
    padding: 0.5em;
    color: #fff;
}
.ccont1 .social-links a:hover {
    color: #C60030;
    text-shadow: 1px 1px 2px #000;
}
.ccont1 .download-resume {
    display: inline-block;
    padding: 0.75em 1.25em;
    background: #fff;   
    color: #000;
    letter-spacing: .5px;
    line-height: inherit;
    width: auto;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-bottom: 1em;
}
.ccont1 .download-resume:hover {
    background-color: #C60030;
    color: white;
}

.ccont1 .download-resume i {
    margin-left: 0.6em;
}
.picsum-img-wrapper {
    padding: 0;
    margin: 0;
    background-size: contain;
    max-height: 400px;
}

.freelancer {
    color: yellow;
    font-weight: 200;
}