<ngb-carousel *ngIf="images" class="ngbcarousel" [interval]="5000" [pauseOnHover]="false" [showNavigationArrows]="false" [showNavigationIndicators]="true">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Hi, I’m Srini</h1>
      <h3>UX Designer &amp; UI Developer</h3>
      <hr class="hr">
      <p class="precise-text">Expert in shaping a concept into a beautiful digital product from a clean slate to a full blown responsive web application.</p>
      <div class="btn-cont">
        <a href="portfolio.html" class="btn btn-outline-secondary">Know My Skills</a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h1>8yrs of experience</h1>
      <h3>I currently live in <span class="text-st">UK</span>, <span class="text-st">USA</span>, Hyderabad, India. </h3>
      <hr class="hr">
      <p class="precise-text">On a typical work day,
        I Interact with Stake Holders, Ideate, Prototype, Design or Code.</p>
      <div class="btn-cont">
        <a href="portfolio.html" class="btn btn-outline-secondary">View my Portfolio</a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h1>Multitudinous Roles</h1>
      <h3>coz every client or project is different and have unique goals &amp; needs</h3>
      <hr class="hr">
      <p class="precise-text">UX Architect, Product Designer, Usability Engineer, Web Developer, Visual Designer, Interaction Designer, Accessibility Engineer - No Problem</p>
      <div class="btn-cont">
        <a href="portfolio.html" class="btn btn-outline-secondary">Check out my Resume</a>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
