@import "../../scss/variables";
@import "../../scss/mixins";

/* ------ */
.ngbcarousel {
  height: 95vh;
}
.ngbcarousel li, #ngb-slide-2 {
 background-color: $color-grey100;
 border: 1px red solid;
}
.picsum-img-wrapper {
  border: 0px solid red;
  background: no-repeat center center scroll;
  background-size: cover;
  height: 95vh;
}

.carousel-caption {
  top: 15vh;
}

h2,
h3,
h4,
h5 {
  font-weight: $fw-thin;
}
.carousel-caption h1 {
  font-size: 9em;
}
.carousel-caption h3 {
  font-size: 2em;
}
.carousel-caption p.precise-text {
  font-size: 4em;
  font-weight: $fw-thin;
  color: $color-grey60;
}

.ngbcarousel .btn {
  border-radius: 0;
  padding: 1.1em 2.5em;
  font-weight: $fw-thin;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 0.1em;
  color: $color-grey80;
  border-color: $color-grey80;
}
.ngbcarousel .btn:hover {
  background-color: $color-grey100;
  color: $color-grey00;
  transition: 0.5s ease-in-out;
}

.ngbcarousel .btn-cont {
  margin: 3em 0 1em 0;
}

.carousel-indicators {
    li {
      background-color: red !important;
    }
  }