@import "../../scss/variables";
@import "../../scss/mixins";

/* ------ */
.ngbcarousel {
  height: 95vh;
}
.picsum-img-wrapper {
  border: 0px solid red;
  background: no-repeat center center scroll;
  background-size: cover;
  height: 95vh;
}

.carousel-caption {
  top: 10vh;
  right: 0;
  left: 0;
  bottom: 0;
}

h4 {
  line-height: 1.5;
}

.ngbcarousel .btn {
  border-radius: 0;
  padding: 1.1em 2.5em;
  font-weight: $fw-thin;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 0.1em;
  color: $color-grey60;
  border-color: $color-grey40;
}
.ngbcarousel .btn:hover {
  background-color: $color-grey100;
  color: $color-grey00;
  transition: 0.5s ease-in-out;
}

.ngbcarousel .btn-cont {
  margin: 3em 0 1em 0;
}

.carousel-indicators {
    li {
      background-color: red !important;
    }
  }