<div id="About">


<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']"  title="Home"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">About</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">UX &amp; UI Design</a></li> -->
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <div class="col">
        <h2 class="page-title">About Me</h2>
        <h5 class="excerpt">I’m an avid dreamer who enjoys solving problems and making a positive impact through design. I specialise in UI/UX design for mobile and web and I also dabble in web development when needed. In my spare time, I like to work on side projects and enjoy playing video games, drinking coffee, building computers, coding and travelling.</h5>
    </div>
    <div class="grid-box">
        <div class="gbox">
            <h6>Learnings</h6>
        </div>
        <div class="gbox">
            <p>I'm mostly self taught, have a keen interest for new technologies and gadgets. So, as part of my daily routine I read latest tech related articles. I devour new trends and breakthroughs with passion, and that reflects in an intuitive UIs that never fails to impress. </p>
        </div>
        <div class="gbox">
            <h6>Work Methodology</h6>
        </div>
        <div class="gbox">
            <p>Passionate about User Experience and User Interface Design. Whenever I create something I always focus on user-centered design methodologies, I create efficient and innovative experiences that balance user needs and business goals.</p>
        </div>
        <div class="gbox">
            <h6>Career</h6>
        </div>
        <div class="gbox">
            <p>Started my career as a Software Programmer working on C, C++ and LINUX and moved to this beautiful field of Creative Design and User Experience Design.</p>
            <p>Mixed experience all over, from working with a large enterprise like Microsoft to a very startup like ZipErase.</p>
        </div>
<div class="gbox">
            <h6>Photography</h6>
        </div>
        <div class="gbox">
            <p>These are some of the shots that I captured during my travel.</p>
        </div>



        
    </div>
    <section>
        <ul id="CSSGallery">
            <li><label>Hibiscus Flowers, Washinton DC, USA</label><img src="../../assets/work/photos/01.jpg" /></li>
            <li><label>Capitol Building, Washinton DC, USA</label><img src="../../assets/work/photos/02.jpg" alt="" /></li>
            <li><label>Streets of New York, NY City, USA</label><img src="../../assets/work/photos/04.jpg" alt="" /></li>
            <li><label>Statue of Liberty, NY, USA</label><img src="../../assets/work/photos/07.jpg" alt="" /></li>
            <li><label>Niagara Falls from Canadian Side</label><img src="../../assets/work/photos/11.jpg" alt="" /></li>
          </ul>
    </section>
</div>


</div>


 

 
