

.grid-box {
    display: grid;
    grid-template-rows:    minmax(100px, auto);
grid-template-columns: 35% 50%;
grid-gap: 5%;
width: 100%;
margin: 3em 0;
}
.gbox {
    margin-bottom: 2em;
}
h6 {
    text-transform: uppercase;
}

/* About Us Image Gallery Styles */
.gallery-wrap {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery-box {
    margin: 15px;
    flex: 0 0 calc(20% - 30px);
  }
  
  .gallery-box img, .pop_img img {
    max-width: 100%;
    min-width: 100%;
  }
  .pop_image_wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content:  space-around;
    align-items: center;
    opacity: 0;
  }
  .pop_img {
    width: 70vw;
    max-height: 80vh;
    overflow: hidden;
    border: 2px solid black;
  }
  
  .active {
    animation: fadeIn 0.3s;
    animation-fill-mode: forwards;
  }
  
  .deactive {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }