@import "../../scss/variables";
@import "../../scss/mixins";

 ol.clearn {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ol.clearn li {
    text-align: left;
    width: calc(90%/3);
  }
  ol.clearn li a img, ol.clearn li a svg {
    display: inline;
    height: 26px;
    width: auto;
    vertical-align: middle;
  }
  ol.clearn li, ol.clearn a.external {
    display: inline-block;
    font-size: inherit;
}