@import "../../scss/variables";
@import "../../scss/mixins";

.grid-box {
    display: grid;
    grid-template-rows:    minmax(100px, auto);
grid-template-columns: 35% 50%;
grid-gap: 5%;
width: 100%;
margin: 3em 0;
}
.gbox {
    margin-bottom: 2em;
}


/* Image Gal */
ul#CSSGallery,
ul#CSSGallery li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#CSSGallery {
  width: 100%;
  display: -webkit-box;
  display: flex;
  height: 600px;
  margin: 50px auto;
}
ul#CSSGallery li {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-transition: -webkit-box-flex 500ms ease-out;
  transition: -webkit-box-flex 500ms ease-out;
  transition: flex 500ms ease-out;
  transition: flex 500ms ease-out, -webkit-box-flex 500ms ease-out;
  padding: 0px;
  position: relative;
  transform: perspective(300px) rotateY(25deg);
  z-index: 8;
}
ul#CSSGallery li label {
    position: absolute;
    display: block;
    top: 1em;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 0px solid #fff;
    opacity: 0;
    color: #ffffff !important;
    left: 1em;
    font-size: 0.8em;
    /* transform: translate(50%); */
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
  color: $color-white;
}
ul#CSSGallery li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
ul#CSSGallery li:hover {
  -webkit-box-flex: 75%;
          flex: 75%;
          transform: rotateY(0deg);
          z-index: 80;
}
ul#CSSGallery li:hover label {
  color: #265b80;
  opacity: 1;
  font-family: sans-serif;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
ul#CSSGallery li:hover img {
    pointer-events: none;
  }