<div class="css-properties">
    <div class="progress-bar-container">
        <div class="progress-bar" id="pBar"></div>
    </div>

     <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials']"
                        title="Articles">Articles</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials/CssProperties']"
                        title="Articles">CSS Properties</a></li>
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>

    <div class="row">
        <h4>Rarely used CSS Properties</h4>
        <p>With the new draft of CSS3 specifications the W3C consortium has introduced a lot of new CSS Properties which most of the developers are not aware of. Below are a few of them.</p>
    </div>

</div>