@import "../../scss/variables";
@import "../../scss/mixins";

#Experience * {
border: 0x solid red;
color: $color-grey60;

}
.post-title__img-overlay.gradient-exp {
    background: rgb(162,169,175);
    background: linear-gradient(90deg, rgba(162,169,175,1) 0%, rgba(168,173,179,1) 35%, rgba(224,225,227,1) 100%);
  }

  .exp-table tbody td {
      padding: 2em 0 2em 1em;
      border: 0px solid red;
  }
  h5.excerpt {
      margin: 3em 0;
      text-align: center;
  }
  h5.excerpt::first-letter {
      font-size: 1.4em;
  }

 /* h5.sub-title {
     font-weight: normal;
 } */

 ul.skillset {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1em;
    padding: 0;
    justify-content: auto;
    align-content: flex-start;
 }
 ul.skillset li {
    border: 0px solid #eee;
padding: 0.5em 1em 0.5em 0;
flex-basis: 25%;
 }



 .client-cont {
	margin: 2em 0;
	display: flex;
	flex-wrap: wrap
}

.client-cont:first-child {
	margin-top: 0
}

.client-cont:last-child {
	margin-bottom: 0
}

.client-logo {
	width: calc(99.99%/4);
	height: calc(100vw/8);
	max-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc
}

.client-logo img {
    display: block;
    width: 100%;
}

.client-logo a {
	transition: .3s opacity
}

.client-logo a:hover {
	opacity: .6
}

@media screen and (min-width:601px) {
	.client-logo:nth-child(-n+4) {
		border-top: 0
	}
	.client-logo:nth-of-type(4n) {
		border-right: 0
	}
}

@media screen and (max-width:600px) {
	.client-cont {
		margin: 1em 0
	}
	.client-cont:first-child {
		margin-top: 0
	}
	.client-cont:last-child {
		margin-bottom: 0
	}
	.client-logo:nth-child(-n+2) {
		border-top: 0
	}
	.client-logo:nth-of-type(2n) {
		border-right: 0
	}
	.client-logo {
		width: calc(99.99%/2);
		height: calc(100vw/4);
		padding: 20px 10%
	}
	.client-logo img {
		max-height: calc(100vw/8);
		width: auto!important;
		object-fit: contain
	}
}