<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Resume</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">UX &amp; UI Design</a></li> -->
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>
<div id="Experience">
    <div class="row">
        <div class="post-title-wrap">
            <div class="post-title__img-overlay gradient-exp"></div> 
            <img src="../../assets/img/blank.png" class="" height="280" alt="CSS">
            <h1 class="post-title">resume</h1>
        </div>
        <div class="col-12">asdas</div>
        <div class="col-12"></div>
        <div class="col-12"></div>
    </div>
</div>
