<div id="UX">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials']"
                        title="Articles">Articles</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials/ux']"
                        title="Articles">UX &amp; UI Design</a></li>
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>

    <div class="row">
        <h4>Difference between UI Design, UX Design, Interaction Design, Graphic Design & Web Design.</h4>
        <p>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s) they
            want to hire. The technical pannel or the HR team are not sure who they actually need? A UI Desinger? UX
            Designer?</p>
        <p>Sentences churning, coming soon...</p>
    </div>

</div>