<div id="UX">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials']"
                        title="Articles">Articles</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials/ux']"
                        title="Articles">UX &amp; UI Design</a></li>
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>

    <div class="row">
        <h4>Difference between UX Design, UI Design, Interaction Design, Product Design, Graphic Design & Web Design.</h4>
        <p>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s) they
            want to hire. The technical pannel or the HR team are not sure who they actually need? A UI Desinger? UX
            Designer? In this article I'll try to simplify these jargons.</p>
        <p>UX &amp; UI Design roles are often confusing and I see, people don't really care about these and they just term as UX/UI Designer during their hiring process which is wrong. UX &amp; UI are specialities in their own fields. They are not the same, there will be people who does specialize in both or just one. Also there are people who does both along with UI or Front-End Development (like me). Well, without further ado I'll jump straight into their definitions. </p>
        <h5 class="w-100">What is a Design?</h5>
        <p>A Design is simply a drawing or just a plan produced to show the look and function of an object before it is made.</p>
        <h5 class="w-100">What is UX?</h5>
            <p>UX - User Experience encompasses all aspects of the end-user's interaction with a product or a service.</p>
        <h5 class="w-100">What is UX Design?</h5>
            <p>UX Design - Designing a product or a service keeping the end-user's interactions in mind making the design user friendly and  a sense of satisfaction while using the product or the service.</p>
            <p>And the designer who specialises in this field is called a UX Designer.</p>
        
        <div class="fig-n-text">
            <div>
                <h5 class="w-100">What is UI Design?</h5>
                <p>UI Design - User Interface Design is the process of designing an interface to any product or a machine or a software tool which brings pleasure to the senses that can be eyes or ears of touch.</p>
                <p>So, here the pleasure is for the senses but where as UX Design is cognitive i.e. concerned with the act or process of knowing, perceiving, etc. and the person who specialises in this area is called a UI Designer. Very often we also call UI Design as Visual Design which are almost the same.</p>
            </div>
            
            <figure>
                <img class="aimg-mw100" src="../../../assets/article-img/designs.png" alt="Illustration of Different Design Practices">
                <figcaption>Illustration of Different Design Practices</figcaption>
              </figure>
        </div>
            

            
            
        <h5 class="w-100">What is Interaction Design(IxD)?</h5>
            <p>Interaction design is a design process where designers focus on creating engaging user interfaces with logical and thought out behaviors &amp; actions. Good interactive designers uses technology and principles of good communication to create desired user experiences.</p>
            <p>They mainly focuses on 2 important principles of usability: <br/>1. Affordance. <br/> 2. Learnability.</p>
            <ul class="ixd-list">
                For instance these are the people who decide(s) on
                <li>What a user can do with their mouse to interact with the UI. </li>
                <li>What information should be provided before a user takes some action.</li>
                <li>How and where to display error messages for the user to easily identify and take respective action.</li>
                <li>If using an animation on a UI, what kind of animation for how much duration should it be.</li>
                <li>Response time between an object on the interface and the action of the user.</li>
                <li>Adhere to the standards, etc.</li>
            </ul>

            <h5 class="w-100">What is Product Design?</h5>
            <p>Product Design is relatively new which is similar to UX Design with a specifric distinction i.e. a product designer pays special attention to the product, on top of the user’s experience as well as the product goals and roadmap.</p>

            <h5 class="w-100">What is Graphic Design?</h5>
            <p>Graphic Design as the name suggest is the practice of designing any kind of digital graphic from a small button to a meaningful illutration to convey a specific message to the end-user.</p>

            <h5 class="w-100">What is Web Design?</h5>
            <p>Web design refers to  designing of websites that are displayed on the internet. Usually refers to the UI aspect of website development.</p>

            <h6>References:</h6>
            <ul>
                <li><a href="https://www.interaction-design.org/" target="_blank" rel="noopener noreferrer">https://www.interaction-design.org/</a></li>
                <li><a href="https://www.nngroup.com/" target="_blank" rel="noopener noreferrer">https://www.nngroup.com/</a></li>
                <li><a href="https://www.usability.gov/" target="_blank" rel="noopener noreferrer">https://www.usability.gov/</a></li>
                <li><a href="https://www.usability.gov/" target="_blank" rel="noopener noreferrer">https://www.usability.gov/</a></li>

            </ul>

    </div>

</div>