<div id="UX">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials']"
                        title="Articles">Articles</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials/ux']"
                        title="Articles">UX &amp; UI Design</a></li>
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>
    
    <div class="row">
        <div class="col">
            <h2 class="page-title">UX &amp; UI Design</h2>
            <!-- <h5 class="excerpt">To help junior designers and developers I seldom write artciles on various topics that
                may range technology to random nonsense.</h5> -->
                <h5>Difference between UI Design, UX Design, Interaction Design, Graphic Design & Web Design.</h5>
        <h6>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s) they want to hire. The technical pannel or the HR team are not sure who they actually need? A UI Desinger? UX Designer?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rerum esse reprehenderit vel. Alias tenetur cumque saepe accusamus eos asperiores velit dolor consectetur, temporibus blanditiis, dolorum nesciunt ab voluptate nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis labore praesentium doloremque harum sunt perferendis dicta impedit a, tempora fugiat vel quisquam molestias. Cumque delectus facere eius saepe quisquam?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, quae dolorem, distinctio rerum non asperiores praesentium hic temporibus magnam quam eaque odit suscipit veniam error, iste sequi officia exercitationem ipsa.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime nemo quaerat id optio, deserunt obcaecati vitae reiciendis, placeat enim earum repellat error illo beatae. Hic quidem enim velit consequatur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illo ipsa dolorem, tenetur, distinctio doloremque culpa pariatur officia iusto ad, excepturi vel voluptatem nemo praesentium explicabo reprehenderit atque consequatur aspernatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, nostrum? Eius asperiores reprehenderit in, dignissimos provident iste minima aliquid a quas eaque sunt rem corrupti beatae omnis nihil modi possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil ipsa tempore odit reiciendis debitis. Natus iusto consequuntur, repellendus reprehenderit, nihil ratione ea corporis sequi et temporibus doloremque perferendis esse.</p>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
