<section class="contact sections">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Contact Me</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <!-- start quickly contact -->
            <div class="col-lg-4 col-md-3 item text-center">
                <span class="icon font-size32"><i class="icon-phone text-very-light-gray"></i></span>
                <div class="cont">
                    <h6 class="text-very-light-gray">Phone</h6>
                    <p class="text-light-gray"><a href="tel:800.826.7450">(+91) 8OO.826.745O</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 item text-center">
                <span class="icon font-size32"><i class="icon-map text-very-light-gray"></i></span>
                <div class="cont">
                    <h6 class="text-very-light-gray">Address</h6>
                    <p class="text-light-gray">Hyderabad, India</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 item text-center">
                <span class="icon font-size32"><i class="icon-envelope text-very-light-gray"></i></span>
                <div class="cont">
                    <h6 class="text-very-light-gray">Email</h6>
                    <p class="text-light-gray"><a href="mailto:tosrisri@gmail.com">tosrisri@gmail.com</a></p>
                </div>
            </div>
        </div>
        <!-- end quickly contact -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="section-title">Need some help?</h6>
                <p>Please take a moment to fill out this short questionnaire, It will give me a better understanding of your requirement, business, project, and inquiry?</p>
            </div>
        </div>
        <div class="row d-none">
            <div class="col-lg-3"></div>
            <!-- start get in touch -->
            <div class="col-lg-6">
                <form action="https://api.formbucket.com/f/c2K3QTQ" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="Message" rows="4"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </form>
            </div>
            <!-- end get in touch -->
            <div class="col-lg-3"></div>
        </div>
    </div>

    <div class="row">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScbtigcF3BOt8r80xxuM50mZZ9LMfIfWT-93mmTDrpc31h-fw/viewform?embedded=true" width="100%" height="1255" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>


</section>