<div class="progress-bar-container">
    <div class="progress-bar" id="pBar"></div>
</div>
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/portfolio']" title="Portfolio">Portfolio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#" title="ASDA Case">ASDA</a></li>
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>


<div id="AMAL">
    <div class="row">
        <section>
            <h4>AMAL College Wesbite Case Study</h4>
            <ul class="tags">
                <li class="tag">2020</li>
                <li class="tag">UX Design</li>
                <li class="tag">UI Design</li>
                <li class="tag">Web Development</li>
                <li class="tag">Photography</li>
                <li class="tag">Video Authoring</li>
            </ul>
        </section>

        <section>
            <h5>Synopsis</h5>
            <div class="insight-cont">
                <div class="row">
                    <div class="col-md-4">
                        <p><span>Project/Client Name:</span>AMAL College</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Purpose Purpose:</span>Revamp entire website as per NAAC standards</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>My Role:</span>Full stack Designer &amp; Designer</p>
                    </div>
                    

                    <div class="col-md-4">
                        <p><span>Tools &amp; Technologies:</span>iPhone 11 Pro, FCP v10.4, HTML5, CSS3, Bootstrap 4.5, PHP6, Sketch, Invision, Zeplin, Google Docs</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Skills Used:</span>Requirement Gathering &amp; Analysis, Photography, Video Authoring,   Visual Designs, Responsive Web Development.</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Duration:</span>1 Month</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Team Size:</span>Alone</p>
                    </div>

                    <div class="col-md-4">
                        <p><span>Location:</span>Vizag, AP.</p>
                    </div>
                </div>
            </div>
        </section>



        <div class="grid-box">
            <div class="gbox">
                <h6>History</h6>
            </div>
            <div class="gbox">
            <p>Couple of months ago I was called by the administrative people of AMAL College, who got my contacts through a friend of mine, regarding website development for their college. They said they need to revamp the entire site from groundup and should look professional it is one the requirement for <abbr title="National Assessment and Accreditation Council">NAAC</abbr> Accreditation.</p>
            </div>
            <div class="gbox">
                <h6>Project Description</h6>
            </div>
            <div class="gbox">
                <p>The website is similar to any educational institute with important features such as History of the Institute, Details of the Management and Staff, Courses Offered, Facilities of the College, Alumni Registration, etc. </p>
            </div>


            <div class="gbox">
                <h6>Challenges</h6>
            </div>
            <div class="gbox">
                <p>-- Nill --</p>
            </div>

            <div class="gbox">
                <h6>Responsibilities</h6>
            </div>
            <div class="gbox">
                <ul>
                    <li>Photgraph the college, premises, faciltiies, sports ground, management &amp; staff.</li>
                    <li>Gather information of courses offered, faciltiies, staff etc.</li>
                    <li>Plan the timelines and budget.</li>
                    <li>Share project report and get approvals.</li>
                    <li>Wesbite design and development.</li>
                    <li>Wesbite testing, hosting and maintenance.</li>
                </ul>
            </div>

        </div>


        <section>
            <h5>High-Fidelity Prototypes</h5>
            <div class="img-showcase">
                <div class="is-item">
                    <h6>Home Page Video</h6>
                    <p>Timelapse video shot on iPhone 6S Plus which can be seen on the background of homepage carousel. This video is then post processed on FCP v10.4. </p>
                </div>
                <div class="is-item">
                    <div class="macbook">
                        <video width="656" height="460" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="../../../assets/work/website-amalc-01.png" class="hpvideo" data-video="0">
                            <source src="../../../assets/img/test.mp4" type="video/mp4">
                          </video>
                         <a class="igal-img-link d-none" href="../../../assets/work/website-amalc-01.png"
                        data-lightbox="i1" data-title="AMAL College Home Page">
                        <img src="../../../assets/work/website-amalc-01.png" alt="AMAL College" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                    </div>
                   
                </div>
            </div>

            <div class="img-showcase1">
                <div class="is-item">
                    <a class="igal-img-link" href="../../../assets/work/amal/homepagev1.png"
                        data-lightbox="i2" data-title="AMAL College, PG Buildings">
                        <img src="../../../assets/work/amal/homepagev1.png" alt="AMAL College" width="100%"
                            height="auto" class="gallery-img" />
                    </a></div>
                <div class="is-item">
                    <h6>Home Page Design v1.0</h6>
                    <p>Version 1.0 of homepage design that was initially designed for the college, but to new features and requirements requested by administrative department this was discarded.</p>
                </div>
            </div>


            <div class="img-showcase">
                <div class="is-item">
                    <h6>Home Page Design v2.0</h6>
                    <p>This is version 2.0 of homepage which is also the current homepage of the hosted website.</p>
                </div>
                <div class="is-item">
                    <div class="macbook">
                        <a class="igal-img-link" href="../../../assets/work/website-amalc-01.png"
                        data-lightbox="i1" data-title="AMAL College Home Page">
                        <img src="../../../assets/work/website-amalc-01.png" alt="AMAL College" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                    </div>
                   
                </div>
            </div>

            <p>Visit the website </p>
            <a href="http://amalcollege.in" class="abtn" target="_blank">www.amalcollege.in</a>
        </section>


    </div>

</div>