section {
    margin: 2em 0;
}
.macbook {
    background: url("../../../assets/img/mackbook1.png") top center no-repeat;
    background-size: contain;
    min-height: 500px;
    position: relative;
}
.hpvideo {
    position: absolute;
    top: -15px;
    left: 88px;
}