<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><span class="oi oi-home iconic-sm" title="home" aria-hidden="true"></span></a></li>
          <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">UX Design</a></li>
        </ol>
      </nav>
      <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <ul class="plist-cont">
        <li> <a href="#">UX Design <span class="iconic iconic-shape-circle iconic-sm" title="shape circle" aria-hidden="true"></span></a> </li>
        <li>UI Design</li>
        <li>Web Design</li>
        <li>Mobile App Design</li>
        <li>Wireframes</li>
    </ul>
    <section class="section">
        <div class="grid-cont">
        <a class="grid-item">
            <h4>Difference between UI Design, UX Design, Interaction Design, Graphic Design &amp; Web Design.</h4>
            <h5>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s) they want to hire. The technical pannel or the HR team are not sure who they actually need? A UI Desinger? UX Designer?...</h5>
            <p class="small-text my-0">2020.07.12</p>
        </a>
        <a class="grid-item">
            <h4>Latest trends of UI & UX in 2020.</h4>
            <h5>Creativity has no bounds, just like life on planet it evolves everyday and year long. These are some of the trends designers across the world are following...</h5>
            <p class="small-text my-0">2020.07.12</p>
        </a>
        <a class="grid-item">
            <h4>Difference between UI Design, UX Design, Interaction Design, Graphic Design &amp; Web Design.</h4>
            <h5>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s) they want to hire. The technical pannel or the HR team are not sure who they actually need? A UI Desinger? UX Designer?...</h5>
            <p class="small-text my-0">2020.07.12</p>
        </a>
        <a class="grid-item">
            four
        </a>
        <a class="grid-item">
            five
        </a>
        <a class="grid-item">
            six
        </a>
        <a class="grid-item">
            seven
        </a>
        <a class="grid-item">
            eight
        </a>
        <a class="grid-item">
            nine
        </a>

    </div>
    </section>
</div>
