@import "../../scss/variables";
@import "../../scss/mixins";

ul.filter-buttons {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 2em 0;
}

ul.filter-buttons li {
    padding: 1em;
    text-transform: uppercase;
    margin-right: 2em;
    cursor: pointer;
}

ul.filter-buttons li:hover {
    background: rgba($color-black, $alpha: 0.3);
    color: $color-white;
}
ul.filter-buttons li.active {
    background: $color-black;
    color: $color-white;
}

.wrapper {
    padding: 2em 0;
    position: relative;
    width: 100%;
}


ul.filter-items {
    list-style: none;
    margin: 2em 0;
}

ul.filter-items > li {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    margin: 10em 0;
    align-content: center;
}

ul.filter-items > li:nth-child(even) {
    flex-direction: row-reverse;
}
.box-item:first-child {
    flex-basis: 30%;
    align-self: center;
}
.box-item:nth-child(2) {
    flex-basis: 65%;
    background-size: cover;
    min-height: 420px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

ul.filter-items li ul.tasks {
    list-style-position: outside;
    margin: 0 0 1.5em;
    padding: inherit;
    list-style-type: disc;
}
ul.filter-items li ul.tasks li {
    margin: 0 0 0.2em 1.5em;
    font-size: 0.9em;
    text-transform: capitalize;
}
ul.filter-items li ul.tasks p {
    margin: 0 0 0.2em;
    font-weight: 300;
}
ul.filter-items .box h6 span {
    font-weight: 300;
}


.asda { background: url("../../assets/work/webapp-asda-products.png"); }
.amalc { background: url("../../assets/work/website-amalc-01.png"); }
.zemoso { background: url("../../assets/work/zemoso/00-Persona-Carl-Vine.png"); }
.pihap { background: url("../../assets/work/pi/PI-UX-Audit.png"); }



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



@media screen and (max-width:600px) {
    ul.filter-items > li {
        display: block;
    }
    ul.filter-items > li {
        margin: 5em 0;
    }
    
    .box-item:first-child {
        flex-basis: 100%;
        margin-bottom: 2em;
    }
    .box-item:nth-child(2) {
        flex-basis: 100%;
    }

}