@import "../../scss/variables";
@import "../../scss/mixins";

ul.filter-buttons {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul.filter-buttons li {
    padding: 1em;
    text-transform: uppercase;
    margin-right: 2em;
    cursor: pointer;
}

ul.filter-buttons li:hover,
ul.filter-buttons li.active {
    background: #333;
    color: #eee;
}

.wrapper {
    padding: 2em 0;
    position: relative;
    width: 100%;
}


.grid-cont {
    flex-flow: row wrap;
    display: flex;
    padding: 4em 0em;
}

.grid-cont .box {
    flex: auto;
    width: calc(99%/3);
    box-sizing: border-box;
    // border: 1px solid #000;
    position: relative;
    // background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    opacity: 0.95;
    margin: 1px;
}
.grid-cont .box a {
    color: #999 !important;
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 100;
    opacity: 0;
    font-size: 0.8em;
    text-transform: uppercase;
}
.grid-cont .box a span {
    padding: 0.2em 0;
    color: #bbb;
    font-size: 1.5em;
}

.grid-cont .box:hover a {
    animation: fadein 1s;
    background-color: rgba($color: #000000, $alpha: 0.9);
    opacity: 1;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/* Background images */
/* Apps */
.boxbg-1 { background: url("../../assets/work/webapp-asda-products.png"); background-position: 14% 1%; }
.boxbg-10 { background: url("../../assets/work/webapp-xfinity-offers.png"); }
.boxbg-11 { background: url("../../assets/work/webapp-cl-allcalls.png"); }
.boxbg-12 { background: url("../../assets/work/webapp-01-bki-dashboard.png"); }


/* Websites  */
.boxbg-2 { background: url("../../assets/work/website-01.jpg"); }
.boxbg-3 { background: url("../../assets/work/website-amalc-01.png"); }

.boxbg-5 { background: url("../../assets/work/website-Mobile-3.jpg"); }
.boxbg-6 { background: url("../../assets/work/website-pht.png"); }
.boxbg-7 { background: url("../../assets/work/website-wal01.png"); }

.boxbg-8 { background: url("../../assets/work/graphics-emailer.jpg"); }
.boxbg-13 { background: url("../../assets/work/graphics-nats-poster.jpg"); }

/* UX */
.boxbg-9 { background: url("../../assets/work/ux-Journey-Map.png"); }
.boxbg-4 { background: url("../../assets/work/ux-Persona-Carl-Vine.png"); }

/* Mobile */
.boxbg-14 { background: url("../../assets/work/mobile-Event-03-Summary.png"); }