<div id="Portfolio">
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">UX Design</a></li>
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <div class="col">
        <h2 class="page-title">portfolio</h2>
        <h5 class="excerpt">As 90% of my work is with enterprise clients I'm not supposed to share any but here are a few that I can share which I worked as a Freelancer and or which is public. </h5>
    </div>
</div>


<div class="row">
    <div class="wrapper">
        <ul class="filter-buttons">
            <li class="button active" data-filter="all">All</li>
            <li class="button" data-filter="app">Web Apps</li>
            <li class="button" data-filter="website">Websites</li>
            <li class="button" data-filter="ux">UX</li>
            <li class="button" data-filter="mobile">Mobile</li>
            <li class="button" data-filter="brand">Branding</li>
            <li class="button" data-filter="graphic">Graphics</li>
        </ul>

        <ul class="filter-items">
            <li class="box filter app">
                <div class="box-item">
                    <h5>ASDA Groceries</h5>
                    <h6>Role: UX Designer &amp; UI Developer</h6>
                    <p>Created visual designs, developed HTML UIs and performed User Testing, Usability testing, A/B Testing, etc.</p>
                    <a href="#" title="View Details" class="abtn">View Case Study</a>
                </div>
                <div class="box-item asda"></div>
            </li>
            <li class="box filter website">
                <div class="box-item">
                    <h5>AMAL College</h5>
                    <h6><span>Role:</span>  Full Stack Designer &amp; Developer</h6>
                    <ul class="tasks">
                        <p>Responsibilities</p>
                        <li>Photography.</li>
                        <li>Website Design.</li>
                        <li>Website Developed, Hosting &amp; Maintainence.</li>
                    </ul>
                    <a href="#" title="View Details" class="abtn">View Case Study</a>
                </div>
                <div class="box-item amalc"></div>
            </li>
            
        </ul>
    </div>
</div>
</div>