@import "../../scss/variables";
@import "../../scss/mixins";

ul.filter-buttons {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul.filter-buttons li {
    padding: 1em;
    text-transform: uppercase;
    margin-right: 2em;
    cursor: pointer;
}

ul.filter-buttons li:hover,
ul.filter-buttons li.active {
    background: #333;
    color: #eee;
}

.wrapper {
    padding: 2em 0;
    position: relative;
}


.grid-cont {
    flex-flow: row wrap;
    display: flex;
    padding: 4em 0em;
}

.grid-cont .box {
    flex: auto;
    width: calc(99%/3);
    box-sizing: border-box;
    margin: 0px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-cont .box a {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    
    color: #ffffff !important;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    height: 100%;
    width: 100%;
}

.grid-cont .box img {
    width: 100%;
    height: auto;
}


/*Grayscale*/

.grid-cont .box {
     /* filter: grayscale(100%);
    filter: saturate(0);
    transition: all .3s ease;
     box-shadow: 2px 2px 5px; */
}

.grid-cont .box:hover {
    cursor: pointer;
}
.grid-cont .box:hover {
    /* filter: grayscale(0);
    filter: saturate(1.5);
    transform: scale(1.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4); */
}

.grid-cont .box:hover a {
    display: block;
    pointer-events: none;
    animation: fadein 1s;
    background-color: rgba($color: #000000, $alpha: 0.75);
}
.grid-cont .box:hover a:hover {
    display: block;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/* Background images */
/* Apps */
.boxbg-1 { background: url("../../assets/work/webapp-asda-checkout.png"); }
.boxbg-10 { background: url("../../assets/work/webapp-xfinity-offers.png"); }
.boxbg-11 { background: url("../../assets/work/webapp-cl-allcalls.png"); }
.boxbg-12 { background: url("../../assets/work/webapp-01-bki-dashboard.png"); }


/* Websites  */
.boxbg-2 { background: url("../../assets/work/website-01.jpg"); }
.boxbg-3 { background: url("../../assets/work/website-amalc-01.png"); }

.boxbg-5 { background: url("../../assets/work/website-Mobile-3.jpg"); }
.boxbg-6 { background: url("../../assets/work/website-pht.png"); }
.boxbg-7 { background: url("../../assets/work/website-wal01.png"); }

.boxbg-8 { background: url("../../assets/work/graphics-emailer.jpg"); }
.boxbg-13 { background: url("../../assets/work/graphics-nats-poster.jpg"); }

/* UX */
.boxbg-9 { background: url("../../assets/work/ux-Journey-Map.png"); }
.boxbg-4 { background: url("../../assets/work/ux-Persona-Carl-Vine.png"); }