div.progress {
    position: fixed;
    top: -5px;
    left: -5px;
    z-index: 999999;
    background: transparent url("../../src/assets/img/progress.png") top left no-repeat;
    height: 240px;
    width: 240px;
    display: block;
}