<div id="Services">
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Services</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">UX &amp; UI Design</a></li> -->
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <div class="col">
        <h2 class="page-title">Services</h2>
        <!-- <h5 class="excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ut provident excepturi? Molestias voluptatibus culpa beatae recusandae ducimus nostrum ipsam labore nihil qui! Explicabo inventore dolores, a cum ea eos.</h5> -->
    </div>
</div>

<div class="parent-of-3col">
    <div class="child-of-3col">
        <h5>UX Audit</h5>
        <h6>Who is this for?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minus rem labore tenetur voluptatem corrupti quo magni veniam officia illo. Quaerat velit corrupti sed labore repudiandae quibusdam delectus saepe iste?</p>
    </div>
    <div class="child-of-3col">
        <h5>Branding</h5>
        <h6>Who is this for?</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus numquam, omnis ab necessitatibus magni eaque nemo quos, laudantium obcaecati officiis sed et voluptates, quaerat dolorem tempore eius voluptatum sint fugiat!</p>
    </div>
    <div class="child-of-3col">
        <h5>Web Development</h5>
        <h6>Who is this for?</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta praesentium recusandae nobis tempora rem. Eum eos earum, enim, consequatur ducimus voluptatem facilis dolorem ullam cupiditate necessitatibus modi accusamus, odit quibusdam.</p>
    </div>
  </div>

<div class="row">
    <h5>Testimonials</h5>
    <div id="slider">
    <div class="arrows">
        <a class="previous" href="javascript:void(0);">&#xf053;</a>
        <a class="next" href="javascript:void(0);">&#xf054;</a>
    </div>
    <div class="slides">
            <div class="slide active" data-icon="&#xf0ac;">
                <h6>Timezones</h6>
                <p>Clocks+ helps you break the barriers of space and time to get information for any city you like. You can search for and organise your favorite cities so that you can easily find out the correct local time.</p>
                
            </div>
            <div class="slide" data-icon="&#xf0f3;">
                <h6>Alarms</h6>
                <p>Nobody wants to miss out on important events, but sometimes, it’s hard to find the time in another city. Clocks+ lets you set alarms for your favorite cities in a simple and intuitive way.</p>
                
            </div>
            <div class="slide" data-icon="&#xf013;">
                <h6>Widgets/Today Extension</h6>
                <p>Clocks+ wouldn’t be a modern app without Widgets. Your favorite cities appear in the Today View with just a swipe down, for quick glancing, Did we mention that they look awesome, too?</p>
                
            </div>
        </div>
        <div class="bullets">
        </div>
    </div>
</div>


</div>