.parent-of-3col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .child-of-3col {
    //  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    //  If we don't want the items to stretch:
    // flex: 0 1 300px;
    //  If we do want the items to stretch:
    flex: 0 0 calc(90%/3);
    border: 0px solid #f2f2f2;

  }