<div id="Services">
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Services</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">UX &amp; UI Design</a></li> -->
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <div class="col">
        <h2 class="page-title">Services</h2>
        <!-- <h5 class="excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ut provident excepturi? Molestias voluptatibus culpa beatae recusandae ducimus nostrum ipsam labore nihil qui! Explicabo inventore dolores, a cum ea eos.</h5> -->
    </div>
</div>

<div class="parent-of-3col">
    <div class="child-of-3col">
        <h5>UX Audit</h5>
        <h6>Who is this for?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minus rem labore tenetur voluptatem corrupti quo magni veniam officia illo. Quaerat velit corrupti sed labore repudiandae quibusdam delectus saepe iste?</p>
    </div>
    <div class="child-of-3col">
        <h5>Branding</h5>
        <h6>Who is this for?</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus numquam, omnis ab necessitatibus magni eaque nemo quos, laudantium obcaecati officiis sed et voluptates, quaerat dolorem tempore eius voluptatum sint fugiat!</p>
    </div>
    <div class="child-of-3col">
        <h5>Web Development</h5>
        <h6>Who is this for?</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta praesentium recusandae nobis tempora rem. Eum eos earum, enim, consequatur ducimus voluptatem facilis dolorem ullam cupiditate necessitatibus modi accusamus, odit quibusdam.</p>
    </div>
  </div>


</div>