<div id="Services">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']"  title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Services</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">UX &amp; UI Design</a></li> -->
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>

    <div class="row">
        <div class="col">
            <h2 class="page-title">Services</h2>
            <!-- <h5 class="excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ut provident excepturi? Molestias voluptatibus culpa beatae recusandae ducimus nostrum ipsam labore nihil qui! Explicabo inventore dolores, a cum ea eos.</h5> -->
        </div>
    </div>

    <section>
    <div class="row">
        <h5>UX Audit</h5>
    <div class="parent-of-3col">
        <div class="child-of-3col">
            <h6>Who is this for?</h6>
            <p>If you already have a digital product, may be a website, an app or a kiosk at your business place and you
                feel it's not doing the business right then this is for you.</p>
        </div>
        <div class="child-of-3col">
            <!-- <h5>Branding</h5> -->
            <h6>What will I do?</h6>
            <p>I understand your domain, your business, your audience - their needs and perform a UX Audit on your
                exisiting product and come up with a documental changes that need to be done for a better ROI.</p>
        </div>
        <div class="child-of-3col">
            <!-- <h5>Web Development</h5> -->
            <h6>How much does it costs me?</h6>
            <p>Well, that depends on the number of hours I put in and the intial discussion that I've with you regarding
                the product and your goals.</p>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="row">
        <h5>Branding</h5>
        <div class="parent-of-3col">
            <div class="child-of-3col">
                <h6>Who is this for?</h6>
                <p>If you have just registered a company or if you want to start one. You need a Brand Guide, Logo, Website, Business Cards, Flyers, Corporate Deck, Presentation, etc. then this is for you.</p>
            </div>
            <div class="child-of-3col">
                <h6>What will I do?</h6>
                <p>I Speak to you, understand your concept or why starting one? Know your thoughts if you something in your mind. Then I'll come with a rough estimates of both timeline and price. If we have a deal then I'll proceed with the work as per our agreement.</p>
            </div>
            <div class="child-of-3col">
                <h6>How much does it costs me?</h6>
                <p>Depends on what you want - like if you want only a Brand Guide and a website the cost would be different to that of a Brand Collateral. </p>
            </div>
        </div>
    </div>
</section>
    
<section>
    <div class="row">
        <h5>Web Development</h5> 
        <div class="parent-of-3col">
            <div class="child-of-3col">
                <h6>Who is this for?</h6>
                <p>If you already havea business running and need to do business online or if you want to revamp your website and bring fresh look and feel with better User Experience and device compatability, then this is for you.</p>
            </div>
            <div class="child-of-3col">
                <h6>What will I do?</h6>
                <p>I'll know your requirements and will present you with 2-3 options, if you want me to do your website from a clean slate. Or if you have an exisiting website I'll backup it first and revamp it.</p>
            </div>
            <div class="child-of-3col">
                <h6>How much does it costs me?</h6>
                <p>The cost would be start from USD $500 / INR <em>₹</em>25,000 depending on total number of pages and the page complexity. </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <h5 class="bar-style">People Say</h5>
        <div id="slider">
            
            <div class="arrows">
                <a class="previous" href="javascript:void(0);">&#xf053;</a>
                <a class="next" href="javascript:void(0);">&#xf054;</a>
            </div>
            <div class="slides">
                <div class="slide active">
                    <h6 class="alicia">Alicia Flanders</h6>
                    <p class="designation">UX Designer at Ericsson</p>
                    <p class="say-text">I had the pleasure of working with Srinivas for a few months while on a contract
                        with Shire. As a remote consultant, Srinivas coded the UI design into HTML. He produced quality
                        work very quickly. He made relevant recommendations for the design and was responsive to
                        feedback. When complications arose about the duration of his contract, he remained loyal to the
                        project and completed the UI, even though he did so without compensation. Srinivas's
                        contributions were appreciated. I am grateful for the opportunity to have worked with Srinivas
                        and would welcome doing so again.</p>
                </div>

                <div class="slide" data-icon="&#xf013;">
                    <h6 class="yachna">Yachna Sonthalia</h6>
                    <p class="designation">Associate Manager - Digital Performance Marketing at TD</p>
                    <p class="say-text">Srinivas is a very focused and dedicated professional with an eye for detail. I
                        had an opportunity to work with him, a couple of times, on our website related projects. He does
                        not hesitate to take up challenging assignments and is always conscious of deadlines &
                        deliverables. Its a pleasure working with him.</p>
                </div>

                <div class="slide">
                    <h6 class="dez">Dez Broatch</h6>
                    <p class="designation">Senior UX Designer at Walmartlabs</p>
                    <p class="say-text">Srini has a passion for perfection and creativity. I worked with Srini as part
                        of the UX team at Asda. Always delivered quality work and not once did he let the team down. He
                        really takes pride in his work and it can't be faulted. You never get second best with Srini -
                        only the best outcomes and at speed. It was a pleasure to work alongside Srini, and any team
                        with him in it can only succeed! </p>
                </div>

                <div class="slide">
                    <h6 class="kent">Kent Joshi</h6>
                    <p class="designation">IT | Biotechnology | Medical Device | HealthCare | GxP | QMS | PMP | Agile|
                        People &amp; Project Manager</p>
                    <p class="say-text">To whom it may concern: It is my pleasure to recommend Srini B. I worked with
                        him at Baxter Healthcare. In his role as UI & UX Architect, I was consistently impressed with
                        how he participated in stakeholder discussions in understanding the Business and User
                        requirements and way in which he analyzed the UI requirements from the legacy application called
                        APDSv1.0. I watched how he developed the front end (UIs) in HTML5 & CSS2 and delivered it to the
                        backend team. I also observed how he demonstrated excellent trouble-shooting in resolving all UI
                        issues. Srini was a good team player and a valuable asset in bringing APDSv2.0 to life in a
                        short period. </p>
                </div>



                <div class="slide">
                    <h6 class="kasi">Kasi Malla</h6>
                    <p class="designation">Senior Consultant at Deloitte</p>
                    <p class="say-text">Recently I am working on an independent project, I was skeptical about the
                        project's timelines, Srini, though I know him from childhood but never worked with him. In an
                        occasion when we met i asked for his support and he joined the team at the nick of time. The
                        kind of work he has done and been doing is amazing. His keen to detail on every single aspect of
                        UI and pixel perfect design layout is very much appreciable. His work was always accurately
                        executed, the amount of dedication he has shown and his patience helped us to complete the
                        project than expected. He has a good sense of people in his team and as a great team member he
                        brought the best in those around him. He’s really made a difference in our project’s success,
                        without whom it would take a more while. I feel lucky to have him in my team.</p>
                </div>



                <div class="slide">
                    <h6 class="kalyan">Kalyan Kakarlapudi</h6>
                    <p class="designation">Sr Manager, QA Validation at Puma Biotechnology, Inc.</p>
                    <p class="say-text">I had the pleasure of working with Srinivas for more than a year on a custom
                        developed solution for Baxter/ Baxalta (now part of shire, Inc.). I was particularly impressed
                        by his command on UI & UX design and development and get people on board with new ideas and
                        solutions. Srinivas’s ability to juggle multiple activities has made a dramatic difference in
                        achieving the project goals. He is a great asset to any project/company.</p>
                </div>

                <div class="slide">
                    <h6 class="deepak">Deepak Singh</h6>
                    <p class="designation">Senior manager - Mobility solutions</p>
                    <p class="say-text">Srini work with me in Impelsys. His responsibilities included Usability Analysis
                        and UI design of complex web design. He is a hard working, creative, talented and a good team
                        player and get along with anyone easily with solid problem solving and technical skills.</p>
                </div>

                <div class="slide">
                    <h6 class="kishore">Kishore Saragadam</h6>
                    <p class="designation">Entrepreneur, Investor, Program Manager, Blockchain enthusiast</p>
                    <p class="say-text">Srini is a nice person to work with. He is very creative and talented. He showed
                        high level of enthusiasm and commitment during the time he helped us.</p>
                </div>

            </div>
            <div class="bullets"></div>
        </div>
    </div>
</section>

</div>