/* You can add global styles to this file, and also import other style files */


@import "../src/scss/variables";

body {
    background-color: $color-grey20;
}
h1, .h1 {
    color: $color-grey40;
    font-size:9em;
}
h2 {
    color: $color-grey60;
}
h3 {
    color: $color-grey60;
}





.text-st {
    text-decoration: line-through;
}

/* Sitemap Modal and Link Styles */
.menulink {
    margin: 0 auto;
    padding-top: 10px;
    a {
        color: $color-grey100 !important;
        font-size: 1.5em;
        font-weight: $fw-thin;
        letter-spacing: 0.1em;
    }
    a::after {
        display:inline-block;
        // content: url('data:image/svg+xml;charset=UTF-8, <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z/></svg>');
        content: "-";
    width:22px;
    height:16px;
    }
    a::before {
        display:inline;
        content: " - ";
    }

}
.sitemap-links {
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  li {
      min-width: 200px;
    border: 0px dotted $color-grey20;
    flex: auto;
    a {
        color: $color-grey60 !important;
        font-weight: $fw-thin;
        text-transform: uppercase;
        padding: 1em; 
    }
    a:hover {
        color: $color-grey100 !important;
    }
  }
}

.modal-holder{
    animation-name: example;
    animation-duration: 0.3s;
  }
  
  @keyframes example {
    0%   {transform: scale(0.5)}
    100% {transform: scale(1)}
  }