/* You can add global styles to this file, and also import other style files */

@import "../src/scss/variables";

body {
  background-color: $color-grey20;
  font-size: $fs-6;
  font-weight: $fw-thin;
  color: $color-grey80;
  line-height: 1.618em;
  padding-top: 60px;
}
h1,
.h1 {
  font-size: $fs-1;
  color: $color-grey40;
  font-size: $fs-3;
}
h2,
.h2 {
  font-size: $fs-2;
  font-weight: $fw-bold;
  color: $color-grey40;
}
h3,
.h3 {
  font-size: $fs-3;
  font-weight: $fw-thin;
  color: $color-grey60;
}
h4,
.h4 {
  font-size: $fs-4;
  font-weight: $fw-thin;
  color: $color-grey60;
}
h5,
.h5 {
  font-size: $fs-5;
  font-weight: $fw-thin;
  color: $color-grey40;
}
h6,
.h6 {
  font-size: $fs-6;
  font-weight: $fw-thin;
  color: $color-grey60;
}

h5,
h6 {
  line-height: 1.6;
}

.hr {
  height: 1px;
  border-top: 1px dotted $color-grey60;
  margin: 2em auto 1em auto;
  width: 25%;
}
.hr-w100 {
  height: 1px;
  border-top: 1px dotted $color-grey40;
  margin: 0 auto;
}
.bg-white {
  background-color: $color-grey00;
}
a,
.btn,
div,
p {
  outline: none;
}
a {
  color: $color-grey60 !important;
  text-decoration: none;
}
a:hover {
  color: $color-grey100 !important;
  text-decoration: none;
}

/* MEnu Fixed */
.shadow-btm {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.08);
  }


.small-text {
  font-size: 11px;
  color: $color-grey80;
}
.text-st {
  text-decoration: line-through;
}

/* Sitemap Modal and Link Styles */
.menulink {
  padding: 10px 0;
  display: flex;
  width: 100%;
  div.flex-item {
    flex: 48%;
    a {
    
      text-align: left;
      padding: 0;
      margin: 0;
      color: $color-grey100 !important;
      font-size: 1em;
      font-weight: $fw-thin;
      border: 0px solid red;
      span.oi::before {
        font-size: 0.9em;
      }
    }
  }
  
}
.modal-backdrop.show {
  opacity: 0.75;
}
.modal-content {
  opacity: 0.85;
  border: 1px solid $color-grey100;
  border-radius: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 1em 0.7em rgba(0, 0, 0, 0.4);
}
.modal-header {
  padding: 5px 10px 0;
  border-bottom: none;
}
.modal-body {
  padding: 0 1rem 2rem 2rem;
}
.sitemap-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  li {
    min-width: 200px;
    border: 0px dotted $color-grey20;
    flex: auto;
    a {
      font-weight: $fw-thin;
      text-transform: uppercase;
      padding: 1em;
    }
  }
}

.modal-holder {
  animation-name: example;
  animation-duration: 0.4s;
}

@keyframes example {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Breadcrumbs */
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background: none;
  border-radius: 0;
  font-size: 11px;
}

/* Tab System */
.tab-content > .tab-pane {
  margin-bottom: 8em;
  }
#TabTutorials ul.nav-tabs {
  border-bottom: none;
  margin-bottom: 3em;
}
#TabTutorials ul.nav-tabs li.nav-item {
  background-color: none;
}
#TabTutorials ul.nav-tabs li.nav-item a.nav-link {
  border: none;
  padding: 0 0 0.4em;
  margin-right: 3em;
  border-radius: 0;
}
#TabTutorials ul.nav-tabs li.nav-item a.nav-link:hover {
  border: none;
}

#TabTutorials ul.nav-tabs li.nav-item a.nav-link.active {
  background-color: transparent;
  border: none;
  color: $color-grey80;
  border-bottom: 2px solid $color-grey80;
}

.blurred {
  filter: blur(2px);
}