/* You can add global styles to this file, and also import other style files */

@import "../src/scss/variables";

body {
  background-color: $color-grey20;
  font-size: $fs-6;
  font-weight: $fw-thin;
  color: $color-grey80;
  line-height: 1.618em;
  padding-top: 60px;
}
h1,
.h1 {
  font-size: $fs-1;
  color: $color-grey40;
  font-size: $fs-3;
}
h2,
.h2 {
  font-size: $fs-2;
  font-weight: $fw-bold;
  color: $color-grey40;
}
h3,
.h3 {
  font-size: $fs-3;
  font-weight: $fw-thin;
  color: $color-grey60;
}
h4,
.h4 {
  font-size: $fs-4;
  font-weight: $fw-thin;
  color: $color-grey60;
}
h5,
.h5 {
  font-size: $fs-5;
  font-weight: $fw-thin;
  color: $color-grey40;
}
h6,
.h6 {
  font-size: $fs-6;
  font-weight: $fw-thin;
  color: $color-grey60;
}

h5,
h6 {
  line-height: 1.6;
}

.hr {
  height: 1px;
  border-top: 1px dotted $color-grey60;
  margin: 2em auto 1em auto;
  width: 25%;
}
.hr-w100 {
  height: 1px;
  border-top: 1px dotted $color-grey40;
  margin: 0 auto;
}
.bg-white {
  background-color: $color-grey00;
}
a,
.btn,
div,
p {
  outline: none;
}
a {
  color: $color-grey60 !important;
  text-decoration: none;
}
a:hover {
  color: $color-grey100 !important;
  text-decoration: none;
}
a.external {
  display: block;
  margin-bottom: 0.5em;
}
a.external::before {
  content: '';
  display: inline-block;
  background: url("../src/assets/img/external.svg") left center no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

h5.excerpt {
  margin: 2em 0;
  text-align: center;
}
h5.excerpt::first-letter {
  font-size: 1.4em;
}
h2.page-title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
// background-image: linear-gradient(180deg, rgba(168,173,179,1) 0%, rgba(213,213,213,1) 50%, rgba(248,248,248,1) 85%);
background-image: linear-gradient(to bottom, #dedede 25%, transparent 80%);
  background-repeat: repeat;
  text-transform: capitalize;
  text-align: center;
}
h5.sub-title {
  color: $color-grey80;
  width: 100%;
  margin-top: 3em;
}
h6.article-heading {
  font-size: 2.5em;
}
/* h6.article-heading::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #555;
  vertical-align: top;
  margin-top: 11px;
  margin-right: 10px;
} */


/* MEnu Fixed */
.shadow-btm {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.08);
  }


.small-text {
  font-size: 11px;
  color: $color-grey80;
}
.text-st {
  text-decoration: line-through;
}

/* Sitemap Modal and Link Styles */
.menulink {
  padding: 10px 0;
  display: flex;
  width: 100%;
  div.flex-item {
    flex: 48%;
    a {
    
      text-align: left;
      padding: 0;
      margin: 0;
      color: $color-grey100 !important;
      font-size: 1em;
      font-weight: $fw-thin;
      border: 0px solid red;
      span.oi::before {
        font-size: 0.9em;
      }
    }
  }
  
}
.modal-backdrop.show {
  opacity: 0.75;
}
.modal-content {
  opacity: 0.85;
  border: 1px solid $color-grey100;
  border-radius: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 1em 0.7em rgba(0, 0, 0, 0.4);
}
.modal-header {
  padding: 5px 10px 0;
  border-bottom: none;
}
.modal-body {
  padding: 0 1rem 2rem 2rem;
}
.sitemap-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  li {
    min-width: 200px;
    border: 0px dotted $color-grey20;
    flex: auto;
    a {
      font-weight: $fw-thin;
      text-transform: uppercase;
      padding: 1em;
    }
  }
}

.modal-holder {
  animation-name: example;
  animation-duration: 0.4s;
}

@keyframes example {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Breadcrumbs */
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background: none;
  border-radius: 0;
  font-size: 11px;
}

/* Tab System */
.tab-content > .tab-pane {
  margin-bottom: 8em;
  }
#TabTutorials ul.nav-tabs {
  border-bottom: none;
  margin-bottom: 3em;
}
#TabTutorials ul.nav-tabs li.nav-item {
  background-color: none;
}
#TabTutorials ul.nav-tabs li.nav-item a.nav-link {
  border: none;
  padding: 0 0 0.4em;
  margin-right: 3em;
  border-radius: 0;
}
#TabTutorials ul.nav-tabs li.nav-item a.nav-link:hover {
  border: none;
}

#TabTutorials ul.nav-tabs li.nav-item a.nav-link.active {
  background-color: transparent;
  border: none;
  color: $color-grey80;
  border-bottom: 2px solid $color-grey80;
}

.blurred {
  filter: blur(2px);
}


.post-title-wrap {
  position: relative;
  max-height: 280px;
}
.post-title__img-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


/* Tab Styles */
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: none;
  border-bottom: 2px solid $color-grey80;
}

/* Tab Content */
.post-title-wrap {
  position: relative;
  max-height: 280px;
  width: 100%;
}
.post-title__img-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.post-title__img-overlay.gradient-ux {
  background: rgb(131,58,180);
  background: linear-gradient(339deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 69%, rgba(252,176,69,1) 100%);
  background-image: linear-gradient(125deg, #ffc63f 0%, #fd3358 51%, #bc35d8 100%);
background-size: cover;
}

.post-title__img-overlay.gradient-css {
  background-image: linear-gradient(125deg,#1da1f2,#981ceb);
  background-color: #1b95e0;
}
.post-title__img-overlay.gradient-html {
  background: rgb(1,122,152);
  background: linear-gradient(334deg, rgba(1,122,152,1) 0%, rgba(107,153,179,1) 55%, rgba(253,158,45,1) 100%);
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.post-title__img-overlay.gradient-random {
  background: rgb(115,199,250);
  background: linear-gradient(151deg, rgba(115,199,250,1) 0%, rgba(241,51,106,1) 72%, rgba(251,86,99,1) 100%);
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #00ae7b;
  background: linear-gradient(125deg,#00ae7b,#0081bf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ae7b",endColorstr="#0081bf",GradientType=1);
}


.post-title-wrap img {
  margin: 0 auto;
  display: block;
}
.post-title {
  color: $color-grey00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 10em;
  font-weight: $fw-bold;
  opacity: 0.3;
  width: 100%;
  text-align: center;
  filter: blur(4px);
  width: 100%;
  text-align: center;
}
hr.spacer {
  margin: 2em 0;
  width: 100%;
  border: none;
}

/* make carousel indictors black */
.carousel-indicators li {
  background-color: #000;
}