<div class="row mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><span class="oi oi-home iconic-sm" title="home"
                        aria-hidden="true"></span></a></li>
            <li class="breadcrumb-item"><a href="#">Tutorials</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">UX &amp; UI Design</a></li>
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <ngb-tabset [destroyOnHide]="false" [orientation]="currentOrientation" [justify]="currentJustify" id="TabTutorials">
        <!-- Tab-1 -->
        <ngb-tab title="UX &amp; UI Design">
            <ng-template ngbTabContent>
                <!-- Tab-1-Content -->
                <div class="post-title-wrap">
                    <div class="post-title__img-overlay"></div> <img src="../../assets/img/bgimg-ux.png" class="img-fluid" alt="UX Design">
                    <h1 class="post-title">UX Design</h1>
                </div>

                <section class="section">
                    <div class="grid-cont">
                        <a class="grid-item">
                            <h4>Difference between UI Design, UX Design, Interaction Design, Graphic Design &amp; Web
                                Design.</h4>
                            <h5>No doubt, there is a great turmoil in the small to mid IT companies about the Role of
                                Designer(s) they want to hire. The technical pannel or the HR team are not sure who they actually need? A UI Desinger? UX Designer?...</h5>
                            <p class="small-text my-0">2020.07.12</p>
                        </a>
                        <a class="grid-item">
                            <h4>Latest trends of UI & UX in 2020.</h4>
                            <h5>Creativity has no bounds, just like life on planet it evolves everyday and year long. These are some of the trends designers across the world are following...</h5>
                            <p class="small-text my-0">2020.07.12</p>
                        </a>
                        <a class="grid-item">
                            <h4>What is Neumorphism anyway?</h4>
                            <h5>Neumorphism is a relatively new design trend which hasgot lot of traction lately. It's aesthetic is marked by minimal and real-looking UI...</h5>
                            <p class="small-text my-0">2020.07.12</p>
                        </a>
                    </div>
                </section>
                <!-- /Tab-1-Content -->
            </ng-template>
        </ngb-tab>
        <!-- /Tab-1 -->
        <!-- Tab-2 -->
        <ngb-tab>
            <ng-template ngbTabTitle>CSS</ng-template>
            <ng-template ngbTabContent>
                 <!-- Tab-1-Content -->
                 <div class="post-title-wrap">
                    <div class="post-title__img-overlay"></div> <img src="../../assets/img/bgimg-css.png" class="img-fluid" alt="CSS">
                    <h1 class="post-title">CSS</h1>
                </div>

                <section class="section">
                    <div class="grid-cont">
                        <a class="grid-item">
                            <h4>After CSS4 does the CSS frameworks still make sense?</h4>
                            <p class="small-text my-0">2020.07.12</p>
                            <h5>First of, we should airily refer to CSS4 that's because CSS4 never existed but with the addition of new features and grid capabilities to CSS3 Level 3 specifications we tend to call an upgraded CSS4...   </h5>
                            
                        </a>
                        <a class="grid-item">
                            <h4>Confusing CSS properties with exmaples</h4>
                            <p class="small-text my-0">2020.07.12</p>
                            <h5>With the intitial introduction of CSS3 in 1999 till 2018 there have been a lot of new features being added to the spec sheet <a href="https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/" target="_blank" title="CSS3 Specs Draft">read more here</a>...</h5>
                            
                        </a>
                        <a class="grid-item">
                            <h4>What is Neumorphism anyway?</h4>
                            <p class="small-text my-0">2020.07.12</p>
                            <h5>Neumorphism is a relatively new design trend which hasgot lot of traction lately. It's aesthetic is marked by minimal and real-looking UI...</h5>
                            
                        </a>
                    </div>
                </section>
                <!-- /Tab-1-Content -->
            </ng-template>
        </ngb-tab>
        <!-- /Tab-2 -->
        <!-- Tab-3 -->
        <ngb-tab title="HTML">
            <ng-template ngbTabContent>
                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                    facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                    tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et
                    molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent
                    fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
                    bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec
                    tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
        </ngb-tab>
        <!-- /Tab-3 -->
        <!-- Tab-4 -->
        <ngb-tab title="Random">
            <ng-template ngbTabContent>
                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                    facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                    tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et
                    molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent
                    fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
                    bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec
                    tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
        </ngb-tab>
        <!-- /Tab-4 -->
    </ngb-tabset>
</div>

<div class="row">
    <section class="section">
        <div class="grid-cont">
            <a class="grid-item">
                <h4>Difference between UI Design, UX Design, Interaction Design, Graphic Design &amp; Web Design.</h4>
                <h5>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s)
                    they want to hire. The technical pannel or the HR team are not sure who they actually need? A UI
                    Desinger? UX Designer?...</h5>
                <p class="small-text my-0">2020.07.12</p>
            </a>
            <a class="grid-item">
                <h4>Latest trends of UI & UX in 2020.</h4>
                <h5>Creativity has no bounds, just like life on planet it evolves everyday and year long. These are some
                    of the trends designers across the world are following...</h5>
                <p class="small-text my-0">2020.07.12</p>
            </a>
            <a class="grid-item">
                <h4>Difference between UI Design, UX Design, Interaction Design, Graphic Design &amp; Web Design.</h4>
                <h5>No doubt, there is a great turmoil in the small to mid IT companies about the Role of Designer(s)
                    they want to hire. The technical pannel or the HR team are not sure who they actually need? A UI
                    Desinger? UX Designer?...</h5>
                <p class="small-text my-0">2020.07.12</p>
            </a>
            <a class="grid-item">
                four
            </a>
            <a class="grid-item">
                five
            </a>
            <a class="grid-item">
                six
            </a>
            <a class="grid-item">
                seven
            </a>
            <a class="grid-item">
                eight
            </a>
            <a class="grid-item">
                nine
            </a>

        </div>
    </section>
</div>