<div id="Turotials">
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/tutorials']"
                    title="Articles">Articles</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">UX &amp; UI Design</a></li> -->
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <div class="col">
        <h2 class="page-title">Articles</h2>
        <h5 class="excerpt">To help junior designers and developers I seldom write artciles on various topics that
            may range from latest technology to random topics that floats over my head.</h5>
    </div>
</div>


<div class="row">
    <ngb-tabset [destroyOnHide]="false" [orientation]="currentOrientation" [justify]="currentJustify"
        id="TabTutorials">
        <!-- Tab-1 -->
        <ngb-tab title="UX &amp; UI Design">
            <ng-template ngbTabContent>
                <!-- Tab-1-Content -->

                <section class="section" id="ArticleCont">
                    <div class="grid-cont">
                        <a class="grid-item" [routerLink]="['/tutorials/ux']"  title="UX, UI & Interaction Design Differences"  >
                            <h5>Difference between UI Design, UX Design, Interaction Design, Graphic Design &amp;
                                Web
                                Design.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>No doubt, there is a great turmoil in the small to mid IT companies about the Role
                                of
                                Designer(s) they want to hire. The technical pannel or the HR team are not sure who
                                they actually need? A UI Desinger? UX Designer?</h6>
                            <span class="readit">read article</span>
                        </a>
                        <a class="grid-item">
                            <h5>Latest trends of UI & UX in 2020.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Creativity has no bounds, just like life on planet it evolves everyday and year
                                long. These are some of the trends designers across the world are following...</h6>
                            <span class="readit">read article</span>
                        </a>
                        <a class="grid-item">
                            <h5>What is Neumorphism anyway?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Neumorphism is a relatively new design trend which hasgot lot of traction lately.
                                It's aesthetic is marked by minimal and real-looking UI...</h6>
                                <span class="readit">read article</span>
                        </a>
                        <a class="grid-item">
                            <h5>Golden Ratio. What is it?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Mathematically by definition: Two objects are said to be in golden ratio if their
                                ratio is same as the ratio of their sum to the larger of the two quantities.</h6>
                                <span class="readit">read article</span>
                        </a>
                    </div>
                </section>
                <!-- /Tab-1-Content -->
            </ng-template>
        </ngb-tab>
        <!-- /Tab-1 -->
        <!-- Tab-2 -->
        <ngb-tab>
            <ng-template ngbTabTitle>CSS</ng-template>
            <ng-template ngbTabContent>
                <!-- Tab-1-Content -->

                <section class="section">
                    <div class="grid-cont">
                        <a class="grid-item">
                            <h5>After CSS4 does the CSS frameworks still make sense?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>First of, we should airily refer to CSS4 that's because CSS4 never existed but with
                                the addition of new features and grid capabilities to CSS3 Level 3 specifications we
                                tend to call an upgraded CSS4... </h6>
                        </a>
                        <a class="grid-item" [routerLink]="['/tutorials/CssProperties']" title="CSS Properties">
                            <h5>Rarely used CSS Properties.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>With the intitial introduction of CSS3 in 1999 till 2018 there have been a lot of
                                new features being added to the spec sheet <a
                                    href="https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/" target="_blank"
                                    title="CSS3 Specs Draft">read more here</a>...</h6>
                        </a>
                        <a class="grid-item">
                            <h5>What is Neumorphism anyway?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Neumorphism is a relatively new design trend which hasgot lot of traction lately.
                                It's aesthetic is marked by minimal and real-looking UI...</h6>
                        </a>
                        <a class="grid-item">
                            <h5>20 Useful online resources for UI &amp; Web Developers.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Why to reivent the wheel when you can make use of it. Here are 20 useful online
                                resources that will save a lot of UI &amp; Web Developers's time.</h6>
                        </a>
                    </div>
                </section>
                <!-- /Tab-1-Content -->
            </ng-template>
        </ngb-tab>
        <!-- /Tab-2 -->
        <!-- Tab-3 -->
        <ngb-tab title="HTML">
            <ng-template ngbTabContent>
                <!-- Tab-3-Content -->

                <section class="section">
                    <div class="grid-cont">
                        <a class="grid-item">
                            <h5>A Quick review of new HTML5 features.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>The WWW hyperbole the evolution of HTML5 and that's absolutely true with the
                                introduction of new features like Semantics, Offline Storage, Web Sockets, Device
                                Access, Touch Events, Drag &amp; Drop, XMLHttpRequest level 2, ...</h6>
                        </a>
                        <a class="grid-item">
                            <h5>Most asked HTML5 interview Q&amp;A.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Googling HTML5 interview Q&amp;A will present you with tons and tons of pages but
                                most of em' are coequal. Here's a fresh list from the lot...</h6>
                        </a>
                        <a class="grid-item">
                            <h5>What is Neumorphism anyway?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Neumorphism is a relatively new design trend which hasgot lot of traction lately.
                                It's aesthetic is marked by minimal and real-looking UI...</h6>
                        </a>
                    </div>
                </section>
                <!-- /Tab-3-Content -->
            </ng-template>
        </ngb-tab>
        <!-- /Tab-3 -->
        <!-- Tab-4 -->
        <ngb-tab title="Random">
            <ng-template ngbTabContent>
                <section class="section">
                    <div class="grid-cont">
                        <a class="grid-item">
                            <h5>Are dreams Black &amp; White or Color?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Everyday most of us get dreams during or sleep, what ever might be the reason for
                                dreams, have you every noticed if they are Black &amp; White or Color? Until
                                recently I never gave a thought too but...</h6>
                        </a>
                        <a class="grid-item">
                            <h5>#BoycottChina - Good or Bad?</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Currently the whole world is suffering from COVID-19 synonymously addressed as
                                ChinaVirus is causing a havoc in both human survival and economically. </h6>
                        </a>
                        <a class="grid-item">
                            <h5>My lockdown diaries.</h5>
                            <p class="small-text my-0">2020.07.12</p>
                            <h6>Ever since Modiji announced lockdown on March 24th most part of India froze from
                                daily activities, everybody suffered in some way or other.</h6>
                        </a>
                    </div>
                </section>
                <!-- /Tab-4-Content -->
            </ng-template>
        </ngb-tab>
        <!-- /Tab-4 -->
    </ngb-tabset>
</div>


</div>