<div class="progress-bar-container">
    <div class="progress-bar" id="pBar"></div>
</div>
<div id="ASDA">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/portfolio']" title="Portfolio">Portfolio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#" title="ASDA Case">ASDA</a></li>
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>

    <div class="row">
        <section>
            <h4>ASDA Case Study</h4>
            <ul class="tags">
                <li class="tag">2012-2013</li>
                <li class="tag">UX</li>
                <li class="tag">Web Development</li>
                <li class="tag">Usability Testing</li>
            </ul>
        </section>

        <section>
            <h5>Synopsis</h5>
            <div class="insight-cont">
                <div class="row">
                    <div class="col-md-4">
                        <p><span>Project Name:</span> ASDA Groceries</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Purpose Purpose:</span>ASDA Groceries portal redesign and Ongoing Site Optimisation
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p><span>My Role:</span> UI Developer, UX &amp; UI Designer</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Mentor(s):</span> Susie Spencer - UX Manager.<br />Neil Roggers - Project Manager.</p>
                    </div>

                    <div class="col-md-4">
                        <p><span>Tools &amp; Technologies:</span>DHTML, CSS2, JavaScript, Photoshop, MS-Visio</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Skills Used:</span>Responsive Web Development, User Study, Usability Testing, Visual
                            Designs, Wireframes.</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Duration:</span>Sep'2012 - Dec'2013</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Team Size:</span>20+</p>
                    </div>

                    <div class="col-md-4">
                        <p><span>Location:</span><img src="../../../assets/img/uk.svg" height="20" alt="UK Flag"
                                alt="UK Flag" title="UK Flag">, Leeds </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h5>Project Description</h5>
        <div class="row">
            <div class="col-12">
                <p>Walmart is a retailing website that sells almost all the products both online and in stores. And in the current project the aim was to add new business requirements, update & enhance the existing functionalities like simplify adding to cart, increase or decrease the quantity, quick look at other relavent products, new click and collect feature, showing dynamic ads like new products and related products to consider, etc. Without effecting other modules and optimise the already existing website there by gradually revamping the entire child website but retaining the branding of the parent with enhanced user experience with strict web accessibility and as per W3C standards.</p>
            </div>
        </div>
        </section>


        <section>
            <h5>Responsibilities</h5>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>Involving in multi-disciplinary meetings and gathering the project and UI requirements.
                    </li>
                    <li>Discussion/updating &amp; support teams across locations US, UK and India</li>
                    <li>Creating new workflows.</li>
                    <li>Designing new UIs(if any) based on wireframes provided by UX Team.</li>
                    <li>Develop HTML UIs as per the designs.</li>
                    <li>Bug fixing by resolving all the cross browser issues from IE6 to IE9, FF3.6+, Safari4+.
                    </li>
                    <li>Implementing web accessibility in all pages. </li>
                    <li>Website testing, user testing the new modules.</li>
                    <li>Website performance and optimization. </li>
                </ul>
            </div>
        </div>
        </section>
        

        <section>
            <h5>‍Challenges</h5>
        <div class="row">
            <div class="col-12">
                <p>Similar to every other IT project we have had a few challanges which as a team we could easily find solutions. Specifically to mention we faced a ‍Challenge where we were unable to decide on going with a specific feature for a set postcode then we had A/B Testing implmented and through anlytics got our issue solved.</p>
            </div>
        </div>
        </section>

        <section>
            <h5>Learning &amp; Takeaways</h5>
            <div class="row">
                <div class="col-md-4">
                    <h6>Get Early Clarifications</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eos sint a architecto saepe animi recusandae, veritatis cupiditate, minus sunt commodi vero praesentium accusantium, voluptatem est provident tenetur doloribus repellendus!</p>
                </div>
                <div class="col-md-4">
                    <h6>Prioritise Tasks</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum hic labore harum totam laborum incidunt quasi, modi voluptas illum animi porro et eaque iure reiciendis exercitationem ipsam asperiores, voluptates explicabo.</p>
                </div>
                <div class="col-md-4">
                    <h6>Manage Feedback</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, ipsum? Quo amet, provident asperiores unde fugit esse eum expedita dolore, quaerat vel, maxime illum distinctio labore! Fuga nemo obcaecati natus.</p>
                </div>
            </div>
        </section>
            
        <section>
            <h5>Team Photo(s)</h5>
        <div class="row">
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sequi culpa doloribus illo omnis corrupti obcaecati impedit tempore labore ipsam dignissimos velit ea enim neque cupiditate, pariatur accusamus doloremque quas?</p>
            </div>
        </div>
        </section>



        <div class="grid-box">
            <div class="gbox">
                <h6>Learnings</h6>
            </div>
            <div class="gbox">
                <p>I'm mostly self taught, have a keen interest for new technologies and gadgets. So, as part of my
                    daily routine I read latest tech related articles. I devour new trends and breakthroughs with
                    passion, and that reflects in an intuitive UIs that never fails to impress. </p>
            </div>
            <div class="gbox">
                <h6>Work Methodology</h6>
            </div>
            <div class="gbox">
                <p>Passionate about User Experience and User Interface Design. Whenever I create something I always
                    focus on user-centered design methodologies, I create efficient and innovative experiences that
                    balance user needs and business goals.</p>
            </div>
            <div class="gbox">
                <h6>Career</h6>
            </div>
            <div class="gbox">
                <p>Started my career as a Software Programmer working on C, C++ and LINUX and moved to this
                    beautiful field of Creative Design and User Experience Design.</p>
                <p>Mixed experience all over, from working with a large enterprise like Microsoft to a very startup
                    like ZipErase.</p>
            </div>
            <div class="gbox">
                <h6>Currently Learning/Using</h6>
            </div>
            <div class="gbox">
                <ol class="clearn">
                    <li><a href="https://angular.io/" title="Angular.io" target="_blank" class="external">Angular
                            8</a> </li>
                    <li><a href="https://blog.getbootstrap.com/2020/06/16/bootstrap-5-alpha/"
                            title="Bootstrap 5 Alpha" target="_blank" class="external">Bootstrap 5</a> </li>
                    <li><a href="https://www.arduino.cc/" title="Arduino" target="_blank"
                            class="external">Arduino</a> </li>
                </ol>
            </div>
        </div>



        <section id="PortfolioGallery">
            
                <div class="gallery">
                  <div class="img-w">
                    <img
                      src="https://images.unsplash.com/photo-1485766410122-1b403edb53db?dpr=1&auto=format&fit=crop&w=1500&h=846&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485793997698-baba81bf21ab?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485871800663-71856dc09ec4?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485871882310-4ecdab8a6f94?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485872304698-0537e003288d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485872325464-50f17b82075a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1470171119584-533105644520?dpr=1&auto=format&fit=crop&w=1500&h=886&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485881787686-9314a2bc8f9b?dpr=1&auto=format&fit=crop&w=1500&h=969&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                  <div class="img-w"><img
                      src="https://images.unsplash.com/photo-1485889397316-8393dd065127?dpr=1&auto=format&fit=crop&w=1500&h=843&q=80&cs=tinysrgb&crop="
                      alt="" /></div>
                </div>
              
        </section>



            <ul class="overview">
                <li class="overview-list"><span>Project Goal</span> Create a genuine and effective in-person networking
                    experience for professionals. </li>
                <li class="overview-list">‍Purpose of the project - I integrated and practiced the UX design toolkit I
                    learned through "Springboard Online UX course" while building every step of this product.</li>
                <li class="overview-list">Mentor - Miklos Philips, Principal Lead, Product Design and Strategy at
                    Toptal.</li>
                <li class="overview-list">‍My role - Since this is a solo project, I performed all project roles, from
                    research to develop of the Hi-Fi prototype.</li>
                <li class="overview-list">‍Challenge - How to make networking more fun and less awkward. Make people
                    really want to participate, and avoid falling into networking clichés.</li>
                <li class="overview-list">‍Final product showcase - Hi-Fi prototype and animations for mobile app.</li>
            </ul>




       




    </div>

</div>