<div class="progress-bar-container">
    <div class="progress-bar" id="pBar"></div>
</div>
<div id="ASDA">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/portfolio']" title="Portfolio">Portfolio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#" title="ASDA Case">ASDA</a></li>
            </ol>
        </nav>
        <hr class="hr-w100 w-100" />
    </div>

    <div class="row">
        <section>
            <h4>ASDA Groceries Case Study</h4>
            <ul class="tags">
                <li class="tag">2012-2013</li>
                <li class="tag">UX</li>
                <li class="tag">Web Development</li>
                <li class="tag">Usability Testing</li>
            </ul>
        </section>

        <section>
            <h5>Synopsis</h5>
            <div class="insight-cont">
                <div class="row">
                    <div class="col-md-4">
                        <p><span>Project Name:</span> ASDA Groceries</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Purpose Purpose:</span>ASDA Groceries portal redesign and Ongoing Site Optimisation
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p><span>My Role:</span> UI Developer, UX &amp; UI Designer</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Mentor(s):</span> Susie Spencer - UX Manager.<br />Neil Roggers - Project Manager.</p>
                    </div>

                    <div class="col-md-4">
                        <p><span>Tools &amp; Technologies:</span>DHTML, CSS2, JavaScript, Photoshop, MS-Visio</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Skills Used:</span>Responsive Web Development, User Study, Usability Testing, Visual
                            Designs, Wireframes.</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Duration:</span>Sep'2012 - Dec'2013</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Team Size:</span>20+</p>
                    </div>

                    <div class="col-md-4">
                        <p><span>Location:</span><img src="../../../assets/img/uk.svg" height="20" alt="UK Flag"
                                alt="UK Flag" title="UK Flag">, Leeds </p>
                    </div>
                </div>
            </div>
        </section>



        <div class="grid-box">
            <div class="gbox">
                <h5>Project Description</h5>
            </div>
            <div class="gbox">
                <p>Walmart is a retailing website that sells almost all the products both online and in stores. And in
                    the current project the aim was to add new business requirements, update & enhance the existing
                    functionalities like simplify adding to cart, increase or decrease the quantity, quick look at other
                    relavent products, new click and collect feature, showing dynamic ads like new products and related
                    products to consider, etc. Without effecting other modules and optimise the already existing website
                    there by gradually revamping the entire child website but retaining the branding of the parent with
                    enhanced user experience with strict web accessibility and as per W3C standards.</p>
            </div>


            <div class="gbox">
                <h5>Challenges</h5>
            </div>
            <div class="gbox">
                <p>Similar to every other IT project we have had a few challanges which as a team we could easily find
                    solutions. Specifically to mention we faced a ‍Challenge where we were unable to decide on going
                    with a specific feature for a set postcode then we had A/B Testing implmented and through anlytics
                    got our issue solved.</p>
            </div>

            <div class="gbox">
                <h6>Responsibilities</h6>
            </div>
            <div class="gbox">
                <ul>
                    <li>Involving in multi-disciplinary meetings and gathering the project and UI requirements.</li>
                    <li>Discussion/updating &amp; support teams across locations US, UK and India</li>
                    <li>Creating new workflows.</li>
                    <li>Designing new UIs(if any) based on wireframes provided by UX Team.</li>
                    <li>Develop HTML UIs as per the designs.</li>
                    <li>Bug fixing by resolving all the cross browser issues from IE6 to IE9, FF3.6+, Safari4+.</li>
                    <li>Implementing web accessibility in all pages. </li>
                    <li>Website testing, user testing the new modules.</li>
                    <li>Website performance and optimization. </li>
                </ul>
            </div>

        </div>


        <section>
            <h5>High-Fidelity Prototypes</h5>
            <div class="img-showcase">
                <div class="is-item">
                    <h6>Order Summary Page</h6>
                    <p>This is the final Order Summary page of the user that we have developed, we have clearly divided
                        into sections like User's Address, Contact Info, Click-n-Collect info, Payment details etc. for
                        user's easy review in case if he/she needs to.</p>
                </div>
                <div class="is-item"><a class="igal-img-link" href="../../../assets/work/asda/asda-order-summary.png"
                        data-lightbox="i1" data-title="Hibiscus Flowers, Washinton DC, USA">
                        <img src="../../../assets/work/asda/asda-order-summary.png" alt="Srini's Photo" width="100%"
                            height="auto" class="gallery-img" />
                    </a>
                </div>
            </div>
            <div class="img-showcase1">
                <div class="is-item"> <a class="igal-img-link" href="../../../assets/work/asda/asda-click-n-collect.png"
                        data-lightbox="i2" data-title="Hibiscus Flowers, Washinton DC, USA">
                        <img src="../../../assets/work/asda/asda-click-n-collect.png" alt="Srini's Photo" width="100%"
                            height="auto" class="gallery-img" />
                    </a></div>
                <div class="is-item">
                    <h6>Click &amp; Collect</h6>
                    <p>Click-n-Collect is one of the most important feature that most of the retail user's use. To come
                        to a decision of how to present to the user we underwent a lot of user interviews and analytical
                        data to design this page. This is the final version of the page we have decided to go with. </p>
                </div>
            </div>
            <p>Visit the website to have a look </p>
            <a href="https://groceries.asda.com/" class="abtn" target="_blank">ASDA Groceries</a>
        </section>






        <section>
            <h5>Learning &amp; Takeaways</h5>
            <div class="insight-cont">
                <div class="row">
                    <div class="col-md-4">
                        <p><span>Get Early Clarifications</span> Visual Design team being a thrid party there is a
                            disconnect for the designs that we get from them
                            for UI development due ot which a lot of re-work used to happen. When we found this we
                            started
                            implementing a strategy i.e. there will be a 2 weeks gap between the design approval and
                            developemnt
                            time which saved us re-work.</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Prioritise Tasks</span>Like a ripple effect the time we spent on UI development
                            affected the back-end development because of
                            the dependency so we followed the same 2 week gap strategy so that there will not be any
                            dependency
                            from the FE team to BE team.</p>
                    </div>
                    <div class="col-md-4">
                        <p><span>Manage Feedback</span> Effective implementation of managing the feedback has saved
                            projects overall timeline and we could
                            deliver the project ontime without effecting the business.</p>
                    </div>

                </div>
            </div>
        </section>


        <div class="grid-box">
            <div class="gbox">
                <h6>Team Photo(s)</h6>
            </div>
            <div class="gbox">
                <p>asdasd</p>
            </div>
        </div>





















































    </div>

</div>