<div class="progress-bar-container"><div class="progress-bar" id="pBar"></div></div>
<div id="ASDA">
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" title="Home"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/portfolio']" title="Portfolio">Portfolio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#" title="ASDA Case">ASDA</a></li>
        </ol>
    </nav>
    <hr class="hr-w100 w-100" />
</div>

<div class="row">
    <section>
        <h4 class="text-center">ASDA Case Study</h4>
        <ul class="tags">
            <li>2012-2013</li>
            <li>UX</li>
            <li>Web Development</li>
            <li>Usability Testing</li>
        </ul>

        <div class="insight-cont">
            <div class="row">
            <div class="col-md-3">
                <p><span>Role:</span> UI Developer, UX &amp; UI Designer</p>
            </div>
            <div class="col-md-3">
                <p><span>Duration:</span>Sep'2012 - Dec'2013</p>
            </div>
            <div class="col-md-3">
                <p><span>Tools &amp; Technologies:</span>DHTML, CSS2, JavaScript, Photoshop, MS-Visio</p>
            </div>
            <div class="col-md-3">
                <p><span>Skills Used:</span>Responsive Web Development, User Study, Usability Testing, Visual Designs, Wireframes.</p>
            </div>
        </div>
        </div>
        

        <h5>synopsis</h5>
        <ul class="overview">
            <li class="overview-list"><span>Project Goal</span> Create a genuine and effective in-person networking
                experience for professionals. </li>
            <li class="overview-list">‍Purpose of the project - I integrated and practiced the UX design toolkit I
                learned through "Springboard Online UX course" while building every step of this product.</li>
            <li class="overview-list">Mentor - Miklos Philips, Principal Lead, Product Design and Strategy at
                Toptal.</li>
            <li class="overview-list">‍My role - Since this is a solo project, I performed all project roles, from
                research to develop of the Hi-Fi prototype.</li>
            <li class="overview-list">‍Challenge - How to make networking more fun and less awkward. Make people
                really want to participate, and avoid falling into networking clichés.</li>
            <li class="overview-list">‍Final product showcase - Hi-Fi prototype and animations for mobile app.</li>
        </ul>


        <div class="grid-box">
            <div class="gbox">
                <h6>Learnings</h6>
            </div>
            <div class="gbox">
                <p>I'm mostly self taught, have a keen interest for new technologies and gadgets. So, as part of my daily routine I read latest tech related articles. I devour new trends and breakthroughs with passion, and that reflects in an intuitive UIs that never fails to impress. </p>
            </div>
            <div class="gbox">
                <h6>Work Methodology</h6>
            </div>
            <div class="gbox">
                <p>Passionate about User Experience and User Interface Design. Whenever I create something I always focus on user-centered design methodologies, I create efficient and innovative experiences that balance user needs and business goals.</p>
            </div>
            <div class="gbox">
                <h6>Career</h6>
            </div>
            <div class="gbox">
                <p>Started my career as a Software Programmer working on C, C++ and LINUX and moved to this beautiful field of Creative Design and User Experience Design.</p>
                <p>Mixed experience all over, from working with a large enterprise like Microsoft to a very startup like ZipErase.</p>
            </div>
    <div class="gbox">
                <h6>Currently Learning/Using</h6>
            </div>
            <div class="gbox">
                <ol class="clearn">
                    <li><a href="https://angular.io/" title="Angular.io" target="_blank" class="external">Angular 8</a> </li>
                    <li><a href="https://blog.getbootstrap.com/2020/06/16/bootstrap-5-alpha/" title="Bootstrap 5 Alpha" target="_blank" class="external">Bootstrap 5</a> </li>
                    <li><a href="https://www.arduino.cc/" title="Arduino" target="_blank" class="external">Arduino</a> </li>
                </ol>
            </div>
            
    
        </div>

    </section>




</div>

</div>